
:root {
    box-sizing: border-box;
    font-size: 16px;
    --almost-white: hsl(0, 0%, 98%);
    --almost-black: hsl(0, 0%, 8%);
    --medium-gray: hsl(0, 0%, 41%);
    font-family: "Epilogue", sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.text-preset1 {
    font-family: "Epilogue", serif;
    font-size: 36px;
    line-height: 120%;
    font-weight: 700;
}
.text-preset2 {
    font-family: "Epilogue", serif;
    font-size: 16px;
    line-height: 160%;
    font-weight: 500;
}
.centered {
    text-align: center;
    text-wrap: balance;
}
.learn-more-button {
    background-color: var(--almost-black);
    color: var(--almost-white);
    border-radius: 1em;
    font-size: 16px;
    padding: 1em 2em;
}
.learn-more-button:hover, .learn-more-button:focus {
    background-color: var(--almost-white);
    color: var(--almost-black);
    border: solid 1pt var(--almost-black);
}
.register-button {
    background-color: var(--almost-white);
    color: var(--medium-gray);
    border: solid 1pt var(--medium-gray);
    border-radius: 1em;
    font-size: 14px;
    padding: 0.8em 1.5em;
    margin: 0 auto;
    /* align-self: center; */
    width: 14em;
    vertical-align: baseline;
}
.register-button:hover, .register-button:focus {
    color: var(--almost-black);
    border: solid 1pt var(--almost-black);
    cursor: pointer;
}
.login-item {
    width: 5em;
    margin: 3em auto 0 auto;
    text-align: center;
    /* align-self: center; */
}
.register-item {
    align-self: center;
}
li {
    list-style-type: none;
    margin: 2em 1em;
    font-size: 14px;
    /* padding: 0.5em; */
    /* line-height: 200%; */
    /* display: block; */
    color: var(--medium-gray);
}
li:hover, li:focus, a:hover, a:focus {
    color: var(--almost-black);
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: white;
    font-size: 16px;
    font-family: "Epilogue", serif;
    max-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 1em;
}
/* nav {
    width: 90%;
    padding: 0 2em;
} */
#top-menu {
    display: block;
    /* flex-direction: column;
    justify-content: space-evenly;
    align-items:start; */
}
/* .menu-item {
    padding: 0.5em;
} */
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    margin: 1em 0em;
    gap: 1em;
    object-fit: contain;
}
main > picture {
    grid-column: 1/2;
    grid-row: 1/2;
    /* object-fit: contain;
    width: 100%; */
}
main > .narrative {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 1em;
}
.narrative > p {
    text-align: center;
    text-wrap: pretty;
    color: var(--medium-gray);
}
.client-logos {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: flex-start;
}
#hero-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.11px;
}
.narrative {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin: 1em 0em;
}
.client-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* width: 100%; */
    gap: 2em;
    margin: 0 1em;
}
.client-logos > * {
    flex: 1 1 10%;
    object-fit: contain;
    width: 10%;
}

.menu-area {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 33%;
    z-index: 2;
    /* width: 100%;
    height: 100%; */
    background-color: white;
    /* overflow: auto;*/
    padding: 1em;
}
.menu-card {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.menu-area > img {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 1em 0 auto;
}
.dropdown-card {
    display: none;
    background-color: white;
    /* padding: 1em; */
    border-radius: 1em;
    position: relative;
    left: 1em;
}
/* .dropdown-card > ul {
    display: flex;
    flex-direction: column;
} */
.dropdown-card > ul > li > img {
    padding-right: 1em;
}
.menu-item {
    display: block;
    position: relative;
}
.menu-item > span {
    vertical-align: top;
}
.menu-item > img {
    pointer-events: none;
}
#hamburger {
    display: block;
    width: 2em;
    margin-left: auto;
}
#hamburger:hover {
    cursor: pointer;
}
#modal {
    display: none;
}
#modal > .menu-area > img:hover, #modal > .menu-area > img:focus {
    cursor: pointer;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 1;
}

@media only screen and (min-width: 800px) {
    nav {
        width: 90%;
        padding: 0 2em;
    }
    #top-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        /* background-color: white; */
    }
    .dropdown-card {
        position: absolute;
        padding: 1em;
    }
    .dropdown-card.features {
        top: 2em;
        left: -5em;
        width: 11em;
    }
    .dropdown-card.company {
        top: 2em;
        left: 0em;
        width: 8em;
    }
    .dropdown-card li {
        margin: 1em 0em;
        padding: 0em;
    }
    #hamburger {
        display: none;
    }
    .login-item {
        /* margin-top: 0.5em; */
        /* align-self:auto; */
        /* margin-left: auto; */
        margin: 0 0 0 auto;
    }
    .register-button {
        width: 8em;
    }
    body {
        background-color: var(--almost-white);
    }
    main {
        max-height: 900px;
        grid-template-columns: 9fr 8fr;
        grid-template-rows: 5fr 1fr;
        margin: 4em 8em;
        gap: 1em 5em;
        justify-content: center;
        align-content: center;
    }
    main > picture {
        grid-column: 2/3;
        grid-row: 1/3;
    }
    main > .narrative {
        grid-column: 1/2;
        grid-row: 1/2;
        align-self: center;
    }
    main > .client-logos {
        height: 2.5em;
        grid-column: 1/2;
        grid-row: 2/3;
        align-self:self-end;
    }
    /* #hero-image {
        height: 80vh;
    } */
    h1 {
        font-size: 80px;
    }
    .narrative {
        align-items: start;
        /* width: 100%; */
    }
    .narrative span {
        display: block;
    }
    .narrative > p {
        font-size: 18px;
        text-align: left;
    }
    /* .client-logos {
        margin-top: auto;
    } */
}