
:root {
    box-sizing: border-box;
    font-size: 16px;
    --almost-white: hsl(0, 0%, 98%);
    --almost-black: hsl(0, 0%, 8%);
    --medium-gray: hsl(0, 0%, 41%);
    font-family: "Epilogue", sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.text-preset1 {
    font-family: "Epilogue", serif;
    font-size: 36px;
    line-height: 120%;
    font-weight: 700;
}
.text-preset2 {
    font-family: "Epilogue", serif;
    font-size: 16px;
    line-height: 160%;
    font-weight: 500;
}
.centered {
    text-align: center;
    text-wrap: balance;
}
.learn-more-button {
    background-color: var(--almost-black);
    color: var(--almost-white);
    border-radius: 1em;
    font-size: 16px;
    padding: 1em 2em;
}
.learn-more-button:hover, .learn-more-button:focus {
    background-color: var(--almost-white);
    color: var(--almost-black);
    border: solid 1pt var(--almost-black);
}
.register-button {
    background-color: var(--almost-white);
    color: var(--almost-black);
    border: solid 1pt var(--almost-black);
    border-radius: 1em;
    font-size: 14px;
    padding: 0.8em 2em;
    margin: 0.5em;
    /* align-self: center; */
    width: 14em;
    vertical-align: baseline;
}
.register-button:hover, .register-button:focus {
    cursor: pointer;
}
.login-item {
    margin-top: 3em;
    align-self: center;
}
.register-item {
    align-self: center;
}
li {
    list-style-type: none;
    margin: 0.5em;
    font-size: 14px;
    /* padding: 1em; */
    /* line-height: 200%; */
    display: block;
    color: var(--medium-gray);

}
li:hover, li:focus {
    color: var(--almost-black);
    cursor: pointer;
}
body {
    background-color: var(--almost-white);
    font-size: 16px;
    font-family: "Epilogue", serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 2em;
}
nav {
    width: 100%;
    z-index: 2;
    padding: 0 2em;
}
#top-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:start;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8em;
    margin: 1em 1em;
}
main > section:first-child {
    flex: 1 1 33%;
}
main > section:last-child {
    flex: 1 1 37%;
}
#hero-image {
    object-fit: contain;
    width: 100%;
}
h1 {
    font-size: 36px;
    font-weight: 700;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.narrative {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin: 1em 0em;
}
.client-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* width: 100%; */
    gap: 2em;
    margin: 0 1em;
}
.client-logos > * {
    flex: 1 1 10%;
    object-fit: contain;
    width: 10%;
}

.menu-area {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 33%;
    z-index: 2;
    /* width: 100%;
    height: 100%; */
    background-color: white;
    /* overflow: auto;*/
    padding: 1em;
}
.menu-card {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.menu-area > img {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin-left: auto;
}
.dropdown-card {
    display: none;
    background-color: white;
    /* padding: 1em; */
    margin: 1em;
    border-radius: 1em;
    position: relative;
    /* left: -3em; */
}
.dropdown-card > ul {
    display: flex;
    flex-direction: column;
}
.dropdown-card > ul > li > img {
    padding-right: 1em;
}
.menu-item > img {
    pointer-events: none;
}
#hamburger {
    display: block;
    width: 2em;
    margin-left: auto;
}
#hamburger:hover {
    cursor: pointer;
}
#modal {
    display: none;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(128,128,128,0.75);
    z-index: 1;
}

@media only screen and (min-width: 800px) {
    #top-menu {
        flex-direction: row;
        align-items: center;
        gap: 2em;
        /* background-color: white; */
    }
    #hamburger {
        display: none;
    }
    .login-item {
        margin-top: 0.5em;
        /* align-self:auto; */
        margin-left: auto;
    }
    .register-button {
        width: 8em;
    }
    main {
        flex-direction: row-reverse;
        margin: 3em;
        gap: 5em;
    }
    .column {
        height: 80vh;
        padding-top: 5em;
        margin-left: 5em;
    }
    #hero-image {
        height: 80vh;
    }
    h1 {
        font-size: 80px;
    }
    .narrative {
        align-items: start;
        width: 80%;
    }
    .client-logos {
        margin-top: auto;
    }
}